 .u-section-1 {
  background-image: url("images/IMG_20230404_003329.jpg?rand=35ca");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 522px auto 0 180px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: -68px 180px 60px auto;
}

@media (max-width: 1399px) {
   .u-section-1 {
    background-position: 50% 52.2%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 171px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 171px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 478px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 52px;
    margin-right: auto;
  }
}